/* universal which affects the whole site  */
* {
    box-sizing: border-box;
    border: 4px solid purple;
    margin: 0;
    padding: 0;
}

:root {
    --dark: black;
    --light: white;
    --padding: 4px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* header section */
h1 {
    font-size: 30px;
    display: inline;
    padding: var(--padding);
}

header {
    background-color: var(--dark);
    color: var(--light);
}

/* this is to get the links on one line */
header ul {
    text-decoration: none;
    display: flex;
    gap: 2em;
    justify-content: flex-end;
    margin-top: -25px;
    padding: var(--padding);
}

/* this is for image banner */
.image-banner {
    position: relative;
    /* padding: var(--padding); */
}

.image-picture {
    margin: 0;
}

/* this is to postion the h2 for the image banner in a specific part */
.image-banner h2 {
    position: absolute;
    margin-left: 49em;
    margin-top: -20px;
    color: var(--light);
}

/* this is affecting all sections */
.sections {
    display: flex;
    margin: 1em;
    box-sizing: border-box;
    border: 4px solid purple;
}

.section-info {
    margin-right: 3em;
}

h2 {
    font-size: 30px;
    padding: var(--padding);
}

/* about section */
.my-image {
    height: 13em;
    border-radius: 30px;

}

.sections p {
    margin: 10px;
}

/* work section for the biggest card */

#work {
    display: flex;
    flex-direction: row;
}

.work-card-big {
    border-radius: 10%;
    margin: 2%;
    width: 100%;
    box-sizing: border-box;
    border: 4px solid purple;

}

/* make the other projects flexed as well
this is the work container making this 100% allows the bigger picture to be 100% of the container which is the parent container */
.project-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* the wrap allows it to obey the 100% width so its sending it to the next line instead of making the work card big share the same line */
}

/* this is the image made it size longer horzionatally */
.card-image-big {
    border-radius: 30px;
    height: 10em;
    width: 100%;
    padding: var(--padding);
}

.work-title-big {
    font-size: 15px;
}

/* work section */
.work-card {
    border-radius: 10em;
    padding: 1%;
    width: 50%;
}

.card-image {
    height: 13em;
    border-radius: 30px;
    width: 100%;
}

.work-title {
    font-size: 15px;
}

/* contact section */

#contact ul {
    text-decoration: none;
    margin-top: 0.5em;
    margin-left: 2em;
    display: flex;
    gap: 5.5em;
    padding: var(--padding);
}

/* footer */
footer h3 {
    display: flex;
    justify-content: flex-end;
    padding: var(--padding);
}

a {
    text-decoration: none;
    /* color: var(--light); */
}

/* media quries */
/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {

    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    .sections,
    .my-image,
    .image-banner,
    .work-card-big,
    .work-card,
    .sections ul {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {

    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
        flex-direction: column;
    }
}

/* @media screen and (max-width: 992px) {
    main {
        background-color: aqua;
    } 
}*/